<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="tailwind.css"/>
  </head>
  <body class="dark:bg-black bg-gray-200">
    <div class="flex">
      <div
        class="
          fixed
          top-0
          left-0
          h-screen
          w-16
          flex flex-col
          bg-gray-100
          text-gray-800
          dark:bg-gray-900 dark:text-white
          show-lg
        "
      >
        <div
          class="
            relative
            h-12
            w-12
            flex
            items-center
            justify-center
            mt-2
            mb-2
            mx-auto
            hover:bg-green-700
            rounded-3xl
            hover:rounded-md
            transition-all
            duration-300
            ease-in
            group
          "
        >
          <i>A</i>
          <div
            class="
              absolute
              w-auto
              p-2
              m-2
              min-w-max
              left-14
              rounded-md
              text-white
              bg-gray-800
              text-xs
              font-bold
              transition-all
              duration-100
              scale-0
              origin-left
              group-hover:scale-100
            "
            >tooltip</div
          >
        </div>
        <div
          class="
            relative
            h-12
            w-12
            flex
            items-center
            justify-center
            mt-2
            mb-2
            mx-auto
            hover:bg-green-700
            rounded-3xl
            hover:rounded-md
            transition-all
            duration-300
            ease-in
            group
          "
        >
          <i>B</i>
          <div
            class="
              absolute
              w-auto
              p-2
              m-2
              min-w-max
              left-14
              rounded-md
              text-white
              bg-gray-800
              text-xs
              font-bold
              transition-all
              duration-100
              scale-0
              origin-left
              group-hover:scale-100
              gr
            "
            >tooltip</div
          >
        </div>
        <div
          class="
            relative
            h-12
            w-12
            flex
            items-center
            justify-center
            mt-2
            mb-2
            mx-auto
            hover:bg-green-700
            rounded-3xl
            hover:rounded-md
            transition-all
            duration-300
            ease-in
            group
          "
        >
          <i>C</i>
          <div
            class="
              absolute
              w-auto
              p-2
              m-2
              min-w-max
              left-14
              rounded-md
              text-white
              bg-gray-800
              text-xs
              font-bold
              transition-all
              duration-100
              scale-0
              origin-left
              group-hover:scale-100
            "
            >tooltip</div
          >
        </div>
        <div
          class="
            relative
            h-12
            w-12
            flex
            items-center
            justify-center
            mt-2
            mb-2
            mx-auto
            hover:bg-green-700
            rounded-3xl
            hover:rounded-md
            transition-all
            duration-300
            ease-in
            group
          "
        >
          <i>D</i>
          <div
            class="
              absolute
              w-auto
              p-2
              m-2
              min-w-max
              left-14
              rounded-md
              text-white
              bg-gray-800
              text-xs
              font-bold
              transition-all
              duration-100
              scale-0
              origin-left
              group-hover:scale-100
            "
            >tooltip</div
          >
        </div>
        <div
          class="
            relative
            h-12
            w-12
            flex
            items-center
            justify-center
            mt-2
            mb-2
            mx-auto
            hover:bg-green-700
            rounded-3xl
            hover:rounded-md
            transition-all
            duration-300
            ease-in
            group
          "
        >
          <i>E</i>
          <div
            class="
              absolute
              w-auto
              p-2
              m-2
              min-w-max
              left-14
              rounded-md
              text-white
              bg-gray-800
              text-xs
              font-bold
              transition-all
              duration-100
              scale-0
              origin-left
              group-hover:scale-100
            "
            >tooltip</div
          >
        </div>
      </div>
    </div>
  </body>
</html>
